@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&display=swap');

[data-theme = "light"] {
   --primary: #6dd2c9;
   --secondary: #e885d1;
   --background: url(/public/images/fondo-alternativ.png);
   --text_title: #363946;
   --text_subtitle: #363946;
   --text_info: #424242;
   --calluot: #4a4c53;
   --callout_text: #f8f8f8;
   --glass:rgba(255, 255, 255, .3);
   --glass_menu: rgba(213, 220, 221, 0.855);
   --icon_color: brightness(0) saturate(100%) invert(19%) sepia(4%) saturate(2721%) hue-rotate(192deg) brightness(89%) contrast(84%);
   --primary_filter: brightness(0) saturate(100%) invert(76%) sepia(45%) saturate(386%) hue-rotate(124deg) brightness(95%) contrast(82%);
   --secondary_filter: brightness(0) saturate(100%) invert(88%) sepia(13%) saturate(6823%) hue-rotate(278deg) brightness(97%) contrast(88%);
}

[data-theme = "dark"] {
   --primary: #133e55;
   --secondary: #720d97;
   --background: url(/public/images/fondo-alternativ-dark.png);
   --text_title: #adb0bd;
   --text_subtitle: #b3b4b7;
   --text_info: #cbcbcb;
   --calluot: #b9b9b9;
   --callout_text: #353535;
   --glass:rgba(63, 63, 63, 0.3);
   --glass_menu: rgba(20, 20, 33, 0.919);
   --icon_color: brightness(0) saturate(100%) invert(79%) sepia(9%) saturate(68%) hue-rotate(187deg) brightness(93%) contrast(85%);
   --primary_filter: brightness(0) saturate(100%) invert(21%) sepia(45%) saturate(731%) hue-rotate(156deg) brightness(91%) contrast(97%);
   --secondary_filter: brightness(0) saturate(100%) invert(8%) sepia(78%) saturate(4753%) hue-rotate(282deg) brightness(129%) contrast(102%);
}

*{
   padding: 0;
   margin: 0;
   font-family: Roboto,sans-serif;
}
a{
   text-decoration: none;
   color: currentColor;
}

body{
   background: var(--background);
   background-attachment: fixed;
   background-size: cover;
   padding-top: 4rem;
   padding-bottom: 4rem;
   transition: all 0.5s;
}

.landing_pages{
   max-width: 68rem;
   margin: auto;
   padding: 1rem 2rem;
   background: var(--glass);
   box-shadow: 0 25px 50px -12px rgba(0,0,0,1.25);
   border-radius: 0.5rem;
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
   border: 1.5px solid var(--glass);
}

.button {
   position: fixed;
   bottom: 15px;
   right: 5rem;
   padding: 0.5rem 0.5rem;
   background: var(--glass);
   box-shadow: 6px 6px 40px  rgba(0,0,0,1.25);
   border-radius: 0.5rem;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   border: 1.5px solid var(--glass);
}

.button img {
   filter: var(--icon_color);
   width: 22px;
   height: 22px;
}

/* NAVBAR */

.navbar{
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   color: var(--text_title);
   & p {
      cursor: pointer;
   }
   .nav_logo{
      padding-top: 5px;
   }
   .logo{
      filter: var(--icon_color);
   }
}

.navbar-pop{
   width: 100%;
   display: flex;
   flex-direction: row;
   padding: 0 25px;
}

.nav_email{
   width: 100%;
   display: flex;
   align-items: center;
   flex-grow: 1;
   font-size: 12px;
   gap: 6px;
   & a{
      position:unset;
      padding: 5px 10px;
      transition: all 0.2s;
      border-radius: 5px;
   }
}
.nav_email>a:hover{
   background: var(--primary);
   transform: rotate(-6deg) scale(1.2);
   transition: all 0.2s;
   font-weight: 500;
   color: white;
   box-shadow: 0px 10px 30px #2b2b2bad;
}

.nav_links{
   width: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
   cursor: pointer;
   flex-grow: 0;
   gap: 5px;
   & p{
      position:unset;
      padding: 5px 10px;
      transition: all 0.2s;
      border-radius: 5px;
   }
}
.nav_links p:hover {
   background: var(--primary);
   transform: rotate(-6deg) scale(1.2);
   transition: all 0.2s;
   font-weight: 500;
   color: white;
   box-shadow: 0px 10px 30px #2b2b2bad;
}
.nav_cv{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
   flex-grow: 1;
   font-size: 12px;
   gap: 6px;
   & a{
      position:unset;
      padding: 5px 10px;
      transition: all 0.2s;
      border-radius: 5px;
   }
}
.nav_cv > a:hover{
   background: var(--primary);
   transform: rotate(-6deg) scale(1.2);
   transition: all 0.2s;
   font-weight: 500;
   color: white;
   box-shadow: 0px 10px 30px #2b2b2bad;
}
.hero_social_navbar{
   display: none;
}

.actions {
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: center;
}

.menu-toggle{
   background: none;
   border: none;
   filter: var(--icon_color);
   display: none;
   font-size: 15px;
}

#slider{
   display: none;
}

i {
   cursor: pointer;
}

/* NAVEGATION INTERN*/

[data-content]{
   display: none;
}

.active[data-content]{
   display: block;
}

/* BOX OF INFORMATION */

.hero{
   display: flex;
   padding-bottom: 20px;
}
 
/* BAR OF SOCIALRED LEFT*/

.hero_social{
   position: static;
   height: 80vh;
   width: 8rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 40px;
   .social{
      width: 18px;
      filter: var(--icon_color);
   }
}

.flags{
   position: absolute;
   top: 9vh;
   right: 4.6vh;
   display: flex;
   flex-direction: column;
   font-size: 17px;
   color: var(--text_info);
   & p{
      display: block;
      transition: all 0.5s;
      padding: 0 4px;
      border-radius: 5px;
      text-align: center;
      font-family: 'Ysabeau SC', sans-serif;
   }
}

/* <------------INFORMATION PRINCIPAL -------------> */

.home{
   height: 100%;
   width: 100%;
   box-sizing: border-box;
}

.introduction{
   height: 80vh;
   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   margin-top: 5rem;
}

.hero_info{
   box-sizing: border-box;
   width: 50%;
}

.callout{
   transform: translate(0px, 0px);
   height: 16px;
   width: 50px;
   background: var(--calluot);
   position: relative;
   padding: 6px;
   border-radius: 3px;
   margin: 40px 30px 20px 0;
   min-height: 20px;
   border: 1px solid var(--calluot);
   color: var(--callout_text);
   text-shadow: 0 0 1px #000;
   animation-name: pop-up;
   animation-duration: 1.2s;
}

@keyframes pop-up{
   0%{
      transform: scale(0);
   }
   30%{
      transform: scale(1.3);
   }
   50%{
      transform: scale(1);
   }
   70%{
      transform: scale(1.1);
   }
   100%{
      transform: scale(1);
   }
}

.name{
   font-weight: bold;
   line-height: 1;
   color: var(--text_title);
   padding-bottom: 1rem;
   .leter{
      font-size: 3rem;
      margin: -4px;
      opacity: 0;
      transform: scale(0.5);
      transition: all 0.1s;
      animation-name: escribir ease-in-out forwards;
   }
}

@keyframes escribir {
   0% {
      opacity: 0;
      transform: scale(0.5);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
.subtitle{
   text-transform: uppercase;
   font-weight: bold;
   color: var(--text_subtitle);
   position: relative;
   animation-name: float;
   animation-duration: 5s;
}
.description{
   width: 16rem;
   position: relative;
   margin-top: 2.5rem;
   margin-bottom: 1.5rem;
   color: var(--text_info);
   font-size: 0.875rem;
   line-height: 1.25rem;
   animation-name: float;
   animation-duration: 5.5s;
   cursor: pointer;
}

@keyframes float {
   0% {
      top: 1200px;
      opacity: 0;
   }
   50%{
      opacity: 0;
   }
   70% {
      top: -10px;
   }
   100% {
      top: 0;
      opacity: 1;
   }
}

.image1{
   width: 120px;
   height: 120px;
   position:absolute;
   animation-name: intro;
   animation-duration: 12s;
   filter: var(--primary_filter);
}
.image2{
   width: 100px;
   height: 100px;
   position: absolute;
   animation-name: intro;
   animation-duration: 13s;
   filter: var(--secondary_filter);
}

.link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   position: absolute;
   animation-name: intro;
   animation-duration: 14s;
}
.link p{
   color: var(--text_info);
   font-weight: 700;
   font-size: 11px;
   padding-left: 10px;
}

@keyframes intro{
   0%{
      opacity: 0;
      transform: scale(0);
   }
   30%{
      opacity: 0;
      transform: scale(1.3);
   }
   50%{
      opacity: 0.5;
      transform: scale(1);
   }
   70%{
      transform: scale(1.1);
   }
   100%{
      transform: scale(1);
   }
}

.my-person{
   width: 400px;
   filter: drop-shadow(5px 5px 10px #4f4d4daf);
}

.article{
   height: 80vh;
   .title_article{
      color: var(--text_title);
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -1px;
   }
   .line{
      content: " ";
      background: var(--primary);
      height: 3px;
      width: 30%;
      border-radius: 12px;
   }
   .subtitle_article{
      font-weight: bold;
      color: var(--text_subtitle);
      margin: 10px 0;
      position: relative;;
   }
   .article_information{
      width: 60%;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .description_article{
         width: 19em;
         text-align: center;
         position: relative;
         color: var(--text_info);
         font-size: 1.1rem;
         line-height: 1.6rem;
         cursor: pointer;
      }
   }
}
.article_personal{
   display: flex;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   margin-top: 30px;
   padding: 30px 30px;
   justify-content: space-between;
   .article_person{
      width: 350px;
      filter: drop-shadow(5px 5px 10px #4f4d4daf);
   }
}

/* ABOUT */

.about{
   width: 100%;
   height: 100%;
   color: var(--text_info);
   animation-name: aparecer;
   animation-duration: 2s;
}
@keyframes aparecer {
   0% {
      opacity: 0;
      transform:translateX(100px);
   }
   70%{
      transform: translateX(-5px);
   }
   100% {
      opacity: 1;
      transform:translateX(0);
   }
}

.primera_section{
   height: 80vh;
   width: 100%;
   box-sizing: border-box;
   display: flex;
   align-items: center;
}

.information{
   width: 50%;
}

.title{
   color: var(--text_title);
   font-size: 3rem;
   font-weight: bold;
   line-height: 1;
}
.info{
   width: 32rem;
   color: var(--text_info);
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   font-size: 0.875rem;
   line-height: 1.25rem;
}

.image_about{
   width: 400px;
   filter: drop-shadow(5px 5px 10px #2b2b2be6);

}

/*----------------------CONTACT----------------------*/

form {
   padding: 50px 55px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   text-align: center;
   width: 340px;
}

.input-group{
   display: flex;
   flex-direction: column;
   text-align: left;
}

label {
   color: var(--text_info);
   font-size: 15px;
   font-weight: 600;
}

input, textarea {
   padding: 17px 25px;
   border-radius: 25px;
   margin-bottom: 20px;
   background-color: var(--primary_filter);
   border-color: var(--secondary_filter);
   color: var(--text_subtitle);
   outline: none;
}

input::placeholder , textarea::placeholder {
   color: var(--callout_text);
}

.btn {
   font-size: 16px;
   color: var(--text_title);
   border: 0;
   border-radius: 25px;
   background-color: var(--primary);
   cursor: pointer;
}

@media screen and (max-width: 800px) {
   body{
      padding-top: 0;
   }

   .landing_pages{
      border-radius: 0;
   }

   .navbar-pop {
      display: none;
   }
   .navbar-pop.active{
      display: block;
      width: 80vw;
      height:auto;
      position: absolute;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      font-size: 19px;
      top: 70px;
      right: 30px;
      background: var(--glass_menu);
      box-shadow: 6px 6px 20px  rgba(0,0,0,1.25);
      border-radius: 0.5rem;
      backdrop-filter: blur(10px);
      z-index: 100;
      .nav_email{
         font-size: 19px;
         padding: 20px 0;
         justify-content: center;
      }
      .nav_links{
         float: right;
         padding: 20px 0;
         display: block;
         & p{
            padding: 20px 0;
         }
      }
      .nav_cv{
         font-size: 19px;
         padding: 20px 0;
         justify-content: center;
      }
      .hero_social_navbar{
         display: flex;
         align-items: center;
         justify-content: center;
         filter: var(--icon_color);
         gap: 20px;
         padding-top: 7rem;
         .social_navbar{
            width: 17px;
         }
      }
   }
   
   .menu-toggle{
      display: block;
   }
   .button{
      right: 20px;
      bottom: 20px;
   }
   .hero_social{
      display: none;
   }
   /* HOME RESPONSIV */
   .introduction{
      display: flex;
      flex-direction: column;
      height: auto;

      .hero_info{
         width: 100%;
         .callout{
            margin: 20px auto;
         }
         .name{
            text-align: center;
         }
         .subtitle{
            text-align: center;
         }
         .description{
            margin-bottom: 0.4rem;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
         }
      }


      .hero_my-person{
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 85px 0;
         .my-person{
            width: 270px;
         }
      }
   }
   /* ARTICLE RESPONSIV */
   .article{
      height: auto;
   }
   .article_personal{
      flex-direction: column;
      align-items: center;
      padding: 15px 15px;
      .article_information{
         width: auto;
         padding: 0 8px;
         .description_article{
            width: auto;
            font-size: .89em;
         }
      }
   }

   /* ABOUT RESPONSIV */
   .about{
      .primera_section{
         flex-direction: column;
         width: 100%;
         height: 100%;
         margin: 50px 0 20px 0;
         .information{
            width: 100%;
            .title{
               text-align: center;
            }
            .info{
               text-align: center;
               width: 100%;
            }
         }
      }
   }
}